html {
	text-align: center;
	color: #200;
	margin:0; padding:0;
	font: normal normal normal 1em georgia, times, serif;
}
body {
	text-align: center;
	background: #DDD;
	margin: 0; padding: 0;
	background: url(../img/bg.png) repeat-x #803636;
}
#main {
	width: 520px;
	text-align: justify;
	margin: 0 auto;
	padding: 30px 60px;
	background:#FFF;
	border: 1px solid #776666;
	border-width: 0 1px;
}

a {color: #325;}
a:hover {color: #8863A2;}
a:visited {color: #803636;}

h1, h2, h3, h4, h5, h6 { color: #325;}
h2 {
	font-family: "Berthold Akzidenz Grotesk BE Bold", "Akzidenz Grotesk", Akzidenz, Helvetica, Arial, sans-serif;
	font-weight: bold;
	background: #325; /* #302020; */
	color: #FFF;
	padding: 10px;
}

.caption { 
	font-size: 11px; 
	border: 10px solid #988;
	border-width: 10px 0;
	margin: 5px 0;
	padding: 5px 0;
	}
	.caption em { font-weight:bold; }
