html {
	text-align: center;
	color: #000;
	margin:0; padding:0;
	font: normal normal normal 1em georgia, times, serif;
}
body {
	text-align: center;
	background: #DDD;
	margin: 0; padding: 0;
}
#main {
	width: 520px;
	text-align: justify;
	margin: 0 auto;
	padding: 30px 60px;
	background: #FFF;
}

h2 {
	font-family: Variable, Helvetica, Arial, sans-serif;
	letter-spacing: 0.08em;
	background: #333;
	color: #FFF;
	padding: 10px;
}

.caption { 
	font-size: 11px; 
	border-top: 10px solid #999;
	margin: 5px 0;
	padding: 5px 0;
	}
	.caption em { font-weight:bold; }
